@model ECovidVerify.Models.PatientInfo

@{
    ViewBag.Title = "Delete";
}

<div class="box">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete PatientInfo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MiddleName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MiddleName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Zip)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Zip)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Race)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Race)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ethnicity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ethnicity)
            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.HealthInsurance)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HealthInsurance)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CHName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CHName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CHDateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CHDateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CHEmployer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CHEmployer)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.InsuranceCompany)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InsuranceCompany)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MemberID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MemberID)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.GroupNo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GroupNo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NameOfInsured)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NameOfInsured)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RelationshipToInsured)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RelationshipToInsured)
            </dd>*@

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
    </div>
</div>